<!-- A DIRETIVA ION-VIEW INICIALIZA O TEMPLATE -->
<ion-view title="Pizzas">

  <!-- INICIALIZA A NAVBAR DO PÁGINA -->
  <ion-header-bar align-title="left" class="bar-positive">

    <!-- TITULO NA NAVBAR -->
    <h1 class="title">Pizzaria do Isaque</h1>

  <!-- FIM DA NAVBAR -->
  </ion-header-bar>
    
    <!-- A DIRETIVA ION-SLIDE-BOX TRATA-SE DE UM SLIDER DE CONTEÚDO, QUE PERMITE ROLAGEM HORIZONTAL DO CONTEÚDO -->
    <ion-slide-box>

      <!-- INICIALIZA O CONTEÚDO DO PRIMEIRO SLIDER -->
      <ion-slide>

        <!-- CONTEÚDO QUE PERMITE ROLAGEM -->
        <ion-content>

          <!-- DEFINE UMA LISTA HTML -->
          <ion-list>
         
            <!-- Utilizamos a diretiva NG-REPEAT para percorrer nosso array $scope.pizzas -->
            <a href="#/pizza/{{pizza.id}}" class="item item-thumbnail-left item-icon-right" ng-repeat="pizza in pizzas">
                <img ng-src="{{pizza.img}}">
                <h2>{{ pizza.sabor }}</h2>
                <p>{{ pizza.descricao }}</p> 
                <p>R${{ pizza.valor }}</p>   
                <i class="icon icon-cinza ion-chevron-right"></i>
            </a>

          </ion-list>

        </ion-content>

      </ion-slide>

      <!-- INICIALIZA O CONTEÚDO DO SEGUNDO SLIDER -->
      <ion-slide>
        
        <ion-content>

          <ion-list>

            <!-- Utilizamos a diretiva NG-REPEAT para percorrer nosso array $scope.pizzas -->
            <a class="item item-thumbnail-left" ng-repeat="bebida in bebidas">
                <img ng-src="{{bebida.img}}">
                <h2>{{ bebida.nome }}</h2>
                <p>{{ bebida.descricao }}</p> 
                <p>R${{ bebida.valor }}</p>   
            </a>

          </ion-list>

        </ion-content>
      
      </ion-slide>
      
    </ion-slide-box>

  <!-- DEFINE O MENU INFERIOR -->
  <div class="tabs tabs-icon-top">
  <a class="tab-item" on-tap="previous()">
    <i class="icon ion-pizza"></i>
    Pizzas
  </a>
  <a class="tab-item" on-tap="next()">
    <i class="icon ion-beer"></i>
    Bebidas
  </a>
 
</div>
</ion-view>