<!-- A DIRETIVA ION-VIEW INICIALIZA O TEMPLATE -->
<ion-view>
  <!-- INICIALIZA A NAVBAR DO PÁGINA -->
  <ion-nav-bar class=" bar-positive">

    <!-- BOTÃO DE VOLTAR PARA A PÁGINA ANTERIOR -->
    <i ng-click="goBack()" class="button ion-arrow-left-c"></i>

  <!-- FIM DA NAVBAR -->
  </ion-nav-bar>

  <!-- A DIRETIVA ION-CONTENT DEFINE O CONTEÚDO QUE PERMITE ROLAGEM -->
  <ion-content class="bg-content item-text-wrap">

    <img class="border-radius" ng-src="{{ pizza.img }}" width="100%" height="250px"/>
    <section class="padding">

      <div class="item item-custom">
        <h2><strong>Sabor: </strong> {{ pizza.sabor }}</h2>
        <p>{{ pizza.descricao }}</p>
        <p>R${{ pizza.valor }}</p>
      </div>

      <div class="item item-custom">
        <h2><strong>Avaliação</strong></h2> 
        <h4>Sua nota: {{ pizza.nota }}</h4>
            <i ng-click="avaliar(1)" ng-class="{'icon-votado' : pizza.nota>0}" class="icon icon-voto ion-star"></i>
            <i ng-click="avaliar(2)" ng-class="{'icon-votado' : pizza.nota>1}" class="icon icon-voto ion-star"></i>
            <i ng-click="avaliar(3)" ng-class="{'icon-votado' : pizza.nota>2}" class="icon icon-voto ion-star"></i>
            <i ng-click="avaliar(4)" ng-class="{'icon-votado' : pizza.nota>3}" class="icon icon-voto ion-star"></i>
            <i ng-click="avaliar(5)" ng-class="{'icon-votado' : pizza.nota>4}" class="icon icon-voto ion-star"></i>
      </div>
    </section>
  <!-- FIM DO CONTEÚDO -->
  </ion-content>

<!-- FIM DO TEMPLATE -->
</ion-view>