<!-- A DIRETIVA ION-VIEW INICIALIZA O TEMPLATE -->
<ion-view>
  <!-- INICIALIZA A NAVBAR DO PÁGINA -->
  <ion-nav-bar class=" bar-positive">

    <!-- BOTÃO DE VOLTAR PARA A PÁGINA ANTERIOR -->
    <i ng-click="goBack()" class="button ion-arrow-left-c"></i>

  <!-- FIM DA NAVBAR -->
  </ion-nav-bar>

  <!-- A DIRETIVA ION-CONTENT DEFINE O CONTEÚDO QUE PERMITE ROLAGEM -->
  <ion-content class="bg-content item-text-wrap">

  <!-- FIM DO CONTEÚDO -->
  </ion-content>

<!-- FIM DO TEMPLATE -->
</ion-view>